/* RESET ========================= */
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* BASE ========================== */
html {
  font-size: 1em;  /* 16px */
  line-height: 1.25em;  /*20px @ 16px 125% */
  font-family: Helvetica; 
  padding: 1.25em .75em; /* 4:3 20px*/
  }
  
  div {
  text-align: center;
  background-color: #201628;
  margin-bottom: 1.25em /* one grid line*/
  }
  
  .resume {
    list-style: none;
  }
  p {
    padding: 1.25em .75em; /* 4:3 20px*/
  }
 h1 {
   font-size: 1.7778em;  /* 28.444432px @ 16px*/
   line-height: 1.25em;  /* 35.56px @ 28.44px */
   padding-bottom: .625em;  /* 1/2 gridline */
   padding-top: .625em;  /* 1/2 gridline */
 }
 
 h2 { 
  font-size: 1.33333em; /* 21.3333328px @ 16px */
  line-height: 1.25em; /* 26.66px @ 21.33px */
  padding-bottom: .625em; /* 1/2 gridline */
  padding-top: .625em;    /* 1/2 gridline */
 }
 
 h3 {
   font-size: 1.3333em; /* 21.3333328px @ 16px */
   line-height: 1.25em; /* 26.66px @ 21.33px */
   padding-bottom: .625em; /* 1/2 gridline */
   padding-top: .625em;   /* 1/2 gridline */
 }
 
 
 ul {
   padding: .3125em .1875em; /* 4:3 25%*/
   list-style: circle; 
 }
 
 figcaption{
   padding-bottom: .625em; /* half a baseline grind @ 16px */
 }
 
 img {
   list-style: none;
   display: block;
   max-width: 100%;
 }
 
/* LAYOUT ======================== */

nav li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  border-left: thin solid black;
  border-right: thin solid black;
  margin-left: 2em;
  margin-right: 2em;

}

nav a {
  color: white;
  text-decoration: none;
  padding: 2em 5em 2em 5em;
  display: block;
}
.head {
  padding-bottom: 2em;
}

.container{
  max-width: 47em;
}

.flexbox.flexwrap .media{
  display: flex;
  flex-direction: row | column;
  flex-wrap: wrap;
}

.gif,.pic{
 padding-right: 3em;
}
/* MODULAR ======================= */
/* STATE ========================= */
 
@media screen and (min-width: 10em)
{

  nav li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: thin solid black;
    border-right: thin solid black;
  }

  nav a {
    padding: 1em 2em 1em 2em;
    display: block;
  }
  ul {
   padding-left: .5em; 
   padding-bottom: 1em;
   padding-right: .5em;
   list-style: circle;
 }
 
.pic{
  float:none;
}

}
@media screen and (min-width: 30em)
{
  nav li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: thin solid black;
    border-right: thin solid black;
  }

  nav a {
    padding: 1em 2em 1em 2em;
    display: block;
  }
  
.pic{
  float:none;
}

}
/* THEME ========================= */
html {
  background-color: #171738;
  color: #7180B9;
}
nav a:hover {
  background-color: rgb(239, 243, 235);
  color: #170A47;
}