/* RESET ========================= */
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* BASE ========================== */
html {
  font-size: 1em; 
  line-height: 1.25em; 
  font-family: Helvetica; 
  padding-left: .94em; 
  padding-right: .5em;
  }
  
  div {
  text-align: center;
  background-color: #201628;
  margin-bottom: 1.5em;
  }
  
  .resume {
    list-style: none;
  }
  p {
    padding: 1.18em 1em;
  }
 h1 {
   font-size: 1.79em; 
   line-height: 1.05em;  
   padding-bottom: 1em;
 }
 
 h2 { 
  font-size: 1.38em; 
  line-height: 1.13em; 
  padding-bottom: 1em;
 }
 
 h3 {
   font-size: 1.29em; 
   line-height: 1.10em;
   padding-bottom: 1em;
 }
 
 
 ul {
   padding-left: 1.18em; 
   padding-bottom: 1em;
   list-style: circle;
 }
 
 figcaption{
   padding-bottom: 1em;
 }
 
 img {
   list-style: none;
   display: block;
   max-width: 100%;
 }
 
/* LAYOUT ======================== */

nav li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  border-left: thin solid black;
  border-right: thin solid black;
  margin-left: 2em;
  margin-right: 2em;

}

nav a {
  color: white;
  text-decoration: none;
  padding: 2em 5em 2em 5em;
  display: block;
}
.head {
  padding-bottom: 2em;
}

/* MODULAR ======================= */
/* STATE ========================= */
 
@media screen and (min-width: 10em) and (max-width: 30em)
{

  nav li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: thin solid black;
    border-right: thin solid black;
  }

  nav a {
    padding: 1em 2em 1em 2em;
    display: block;
  }
  ul {
   padding-left: .5em; 
   padding-bottom: 1em;
   padding-right: .5em;
   list-style: circle;
 }
}
@media screen and (min-width: 30em) and (max-width: 60em)
{
  nav li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: thin solid black;
    border-right: thin solid black;
  }

  nav a {
    padding: 1em 2em 1em 2em;
    display: block;
  }
}
/* THEME ========================= */
html {
  background-color: #171738;
  color: #7180B9;
}
nav a:hover {
  background-color: rgb(239, 243, 235);
  color: #170A47;
}